version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ai-backend
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env

  frontend:
    build: ./client
    container_name: ai-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - backend
